<!--<div class="content-left">-->
    <!--<dl>-->
        <!--<dt>-->
            <!--<i></i>-->
            <!--<span>审核管理</span>-->
        <!--</dt>-->
        <!--<dd>-->
            <!--<a ui-sref="finance.withdrawals">提现申请管理</a>-->
        <!--</dd>-->
        <!--<dd>-->
            <!--<a ui-sref="finance.commission">佣金转余额审核列表</a>-->
        <!--</dd>-->
    <!--</dl>-->
    <!--<dl>-->
        <!--<dt>-->
            <!--<i></i>-->
            <!--<span>财务记录</span>-->
        <!--</dt>-->
        <!--<dd>-->
            <!--<a ui-sref="javascript:;">提现记录</a>-->
        <!--</dd>-->
        <!--<dd>-->
            <!--<a ui-sref="javascript:;">驳回记录</a>-->
        <!--</dd>-->
        <!--<dd>-->
            <!--<a ui-sref="javascript:;">红包记录</a>-->
        <!--</dd>-->
        <!--<dd>-->
            <!--<a ui-sref="javascript:;">账号充值记录</a>-->
        <!--</dd>-->
        <!--<dd>-->
            <!--<a ui-sref="javascript:;">资金监控日志</a>-->
        <!--</dd>-->
    <!--</dl>-->
    <!--<dl>-->
        <!--<dt>-->
            <!--<i></i>-->
            <!--<span>佣金记录</span>-->
        <!--</dt>-->
        <!--<dd>-->
            <!--<a ui-sref="javascript:;">分销商佣金</a>-->
        <!--</dd>-->
    <!--</dl>-->
<!--</div>-->