<nav class="navbar header" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><i class="logo"></i></a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="finance.withdrawals" >财务</a></li>
                <li ui-sref-active="active"><a ui-sref="statistics.order">统计</a></li>
                <li ui-sref-active="active" ><a ui-sref="settings.alipay">设置</a></li>
            </ul>
        </div>
    </div>
</nav>