<div class="integral-rank">
    <p><i class="show-hide1" ng-if="show" ng-click="isShow(show)"></i></p>
    <h1 class="title-line">积分排名</h1>
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert"
                aria-hidden="true">
            &times;
        </button>
        注：排行榜数据30分钟更新一次。
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"> 当前积分排名</div>
        <table class="table">
            <thead>
            <tr>
                <td>昵称/手机号</td>
                <td>当前积分</td>
                <td>排名</td>
            </tr>
            </thead>
            <tbody>
            <td colspan="3">暂无信息</td>
            </tbody>
        </table>
    </div>
    <div class="panel panel-default panel-right">
        <div class="panel-heading">本月积分排名</div>
        <table class="table">
            <thead>
            <tr>
                <td>昵称/手机号</td>
                <td>获得积分</td>
                <td>排名</td>
            </tr>
            </thead>
            <tbody>
            <td colspan="3">暂无信息</td>
            </tbody>
        </table>
    </div>
</div>