<div class="red">
    <p><i class="show-hide1" ng-if="show" ng-click="isShow(show)"></i></p>
    <h1>红包记录</h1>
    <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert"
                aria-hidden="true">
            &times;
        </button>
        总共发放红包<span>0</span>个，总计金额<span>0</span>元。
    </div>
    <div>
        <div class="control-group">
            <input  type="text" placeholder="昵称/手机号/会员ID">
            <input name="start" class="input-small calendar" type="text" placeholder="发放时间">
            <label>至</label>
            <input name="end"  class="input-small calendar" type="text" placeholder="发放时间">
        </div>
        <button class="button button-primary"><i class="icon-white icon-search"></i> 查询</button>
    </div>
    <div class="panel panel-default panel-esp">
        <div class="panel-heading">
            <table class="table">
                <tr>
                    <td>昵称/手机号</td>
                    <td>商户订单号</td>
                    <td>红包金额（元）</td>
                    <td>发放时间</td>
                    <td>祝福语</td>
                    <td>类型</td>
                </tr>
            </table>
        </div>
        <table class="table infor">
            <tr>
                <td>
                    暂无信息
                </td>
            </tr>
        </table>
    </div>
</div>