<div class="coupon-statistics">
    <p><i class="show-hide1" ng-if="show" ng-click="isShow(show)"></i></p>
    <h1 class="title-line">优惠券统计</h1>
    <div class="panel panel-default panel-esp">
        <h2 class="panel-heading sub-title">数据统计</h2>
        <table class="table">
            <tr>
                <td>
                    <h1>总发放优惠券（张）</h1>
                    <p>0</p>
                </td>
                <td>
                    <h1>总使用优惠券（张）</h1>
                    <p>0</p>
                </td>
            </tr>
        </table>
    </div>
    <div class="number-price">
        <span>发放优惠券<i class="question-mark"></i></span>
        <div class="filter">
            <div class="control-group">
                <label class="control-label">筛选日期：</label>
                <input name="start" class="input-small calendar" type="text">
                <label>至</label>
                <input name="end"  class="input-small calendar" type="text">
            </div>
            <button class="button button-primary"><i class="icon-white icon-search"></i> 查询</button>
        </div>
        <div class="choose">
            <ul class="date">
                <li class="active">日</li>
                <li>周</li>
                <li>月</li>
                <li>季</li>
                <li>年</li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <h2 class="panel-heading sub-title">发放优惠券趋势图</h2>
        <div class="cd-contain">
            <div class="order-introduction">
                <div class="order-long order-color-esp">
                    <p><b>近30天</b>发放的优惠券</p>
                    <strong>0</strong>
                </div>
            </div>
            <div>
                <highchart config="distributeCouponChartConfig" ></highchart>
            </div>
        </div>
    </div>

    <div class="number-price">
        <span>使用优惠券<i class="question-mark"></i></span>
        <div class="filter">
            <div class="control-group">
                <label class="control-label">筛选日期：</label>
                <input name="start" class="input-small calendar" type="text">
                <label>至</label>
                <input name="end"  class="input-small calendar" type="text">
            </div>
            <button class="button button-primary"><i class="icon-white icon-search"></i> 查询</button>
        </div>
        <div class="choose">
            <ul class="date">
                <li class="active">日</li>
                <li>周</li>
                <li>月</li>
                <li>季</li>
                <li>年</li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <h2 class="panel-heading sub-title">使用优惠券趋势图</h2>
        <div class="cd-contain">
            <div class="order-introduction">
                <div class="order-long order-color">
                    <p><b>近30天</b>使用的优惠券</p>
                    <strong>0</strong>
                </div>
            </div>
            <div>
                <highchart config="useCouponChartConfig"></highchart>
            </div>
        </div>
    </div>
</div>