<div class="review">
    <p><i class="show-hide1" ng-if="show" ng-click="isShow(show)"></i></p>
    <h1 class="set-title">自动审核设置<i class="question-mark"></i></h1>
    <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert"
                aria-hidden="true">
            &times;
        </button>
        <h1><strong>提示</strong></h1>
        <p>
            开启该功能后，申请成为分销商将根据交易金额或交易次数判断是否自动通过。
        </p>
    </div>
    <div class="alert alert-default switch-choose">
        <div class="fun-switch">
            <h1><strong>功能开关</strong></h1>
            <p>
                开启后，申请成为分销商将根据交易金额或交易次数判断是否自动通过。
            </p>
        </div>
        <section class="model-2">
            <div class="checkbox">
                <input  type="checkbox"/>
                <label></label>
            </div>
        </section>
    </div>
    <div class="alert alert-default switch-choose">
        <div class="fun-switch">
            <h1><strong>注册即为分销商</strong></h1>
            <p>
                开启此功能，会员注册后自动成为分销商
            </p>
        </div>
        <section class="model-2">
            <div class="checkbox">
                <input  type="checkbox"/>
                <label></label>
            </div>
        </section>
    </div>
</div>